# Ignorer tous les fichiers et dossiers dans le dossier files
# */*/files/*

# Ignorer les dossiers spécifiques et fichiers
.DS_Store
*/*/labs
*/*/files/lectures
*/*/files/project
*/*/files/other
*/*/vms
HEIGVD.code-workspace
SE

.direnv
.Rproj.user
.zed