# Ignorer tous les fichiers et dossiers dans le dossier files
*/*/files/*

# Ignorer les dossiers spécifiques et fichiers
.DS_Store
*/*/labs
*/*/*/lectures
*/*/*/project
*/*/vms
HEIGVD.code-workspace
SE

.direnv
.Rproj.user
